@model Bet.Models.BetViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BetViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UpdateData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="@Model.id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstTeame" class="control-label"></label>
                <input asp-for="FirstTeame" class="form-control" />
                <span asp-validation-for="@Model.FirstTeame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondTeam" class="control-label"></label>
                <input asp-for="SecondTeam" class="form-control" />
                <span asp-validation-for="@Model.SecondTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="whoWin" class="control-label"></label>
                <input asp-for="whoWin" class="form-control" />
                <span asp-validation-for="whoWin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gameResult" class="control-label"></label>
                <input asp-for="gameResult" class="form-control" />
                <span asp-validation-for="gameResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coefficent" class="control-label"></label>
                <input asp-for="coefficent" class="form-control" />
                <span asp-validation-for="coefficent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
