.main {
  background-color: orange;
  color: rebeccapurple;
  display: block;
  align-content: center;
  text-align: center;
}
.Index {
  display: flex;
}
.wrapper {
  display: grid;
}

table,
th,
td {
  border: 1px solid black;
}

.Table_Games {
  width: 500px;
  height: 200px;
  margin-left: 350px;
  margin-right: auto;
}
.Table_Games-body{
  padding-left: 100px;
}
.First_col, .Second_col, .Third_col, .Fourth_col  {
  vertical-align: middle;
  padding: 50px;
}

.Game-FirstTeam-img {
  width: 120px;
  height: 122px;
  margin-bottom: 40px;
}
.Btn__container {
}
.First_btn,
.Second_btn {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.First_btn:hover,
.Second_btn:hover {
  background-color: oldlace;
  color: red;
}

.btn-div__text {
  width: 120px;
  height: 40px;
  align-content: center;
}

.clicked {
  background-color: blue !important;
  color: white !important;
}

.aside__Bet {
  width: 500px;
  height: 200px;
  background-color: red;
  position: fixed;
  /* top: 60px; */
  padding-top: 0px;
  margin-right: 30px;
  right: 0;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Result__btn {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Result__btn:hover {
  background-color: green;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Result__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Result__btn-text {
  text-align: center; 
}


/*
.Team-First {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.Table_Team {
  display: flex;
  text-align: center;
} */

/* .Game{
    display: flex;
    justify-content: center;
}

.Game-Time{
    margin: 0px 80px 0px 80px;
    align-content: center;
}

.Game-FirstTeam-img{
    max-width: 120px;
    height: 122px;
}

.Game-SecondTeam, .Game-FirstTeam{
    text-align: center;
} */
